---
import Image from "astro/components/Image.astro";

/*
    Media logos for research coverage and appearances
*/
const logos = [
  { src: "/logos/bloomberg.svg", alt: "Bloomberg Logo" },
  { src: "/logos/bbc.svg", alt: "BBC Logo" },
  { src: "/logos/noaa.svg", alt: "NOAA Logo" },
  { src: "/logos/nature.svg", alt: "Nature Logo" },
  { src: "/logos/washingtonpost.svg", alt: "Washington Post Logo" },
  { src: "/logos/nytimes.svg", alt: "New York Times Logo" },
  { src: "/logos/cnn.svg", alt: "CNN Logo" },
  { src: "/logos/ipcc.svg", alt: "IPCC Logo" },
];
---

<section
  class="relative w-full text-center flex flex-col justify-center items-center gap-5 px-4 py-20 sm:py-24 pointer-events-none"
>
  <h2
    class="w-full max-w-xl sm:text-center text-lg sm:text-2xl md:text-4xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-primary via-foreground to-foreground"
  >
    Featured In
  </h2>
  <p
    class="w-full max-w-xl text-muted-foreground sm:text-center text-normal sm:text-lg md:text-xl font-light tracking-tighter text-balance"
  >
    Research coverage and media appearances
  </p>
  <div
    class="w-full h-fit max-w-xl flex flex-col justify-center select-none overflow-hidden gradient"
  >
    <div class="w-max flex flex-nowrap gap-[4rem] animate-slide-logos">
      {
        logos.concat(logos).map((logo) => (
          <div class="aspect-square flex items-center justify-center size-20">
            <Image
              src={logo.src}
              alt={logo.alt}
              width={32}
              height={32}
              loading="eager"
              class="object-contain"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .gradient {
    mask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      transparent
    );
    webkitmask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      black transparent
    );
  }
</style>
